menu "Configuration RFM 12"
    depends on BUS_SPI
    
    config TYPE_RFM12
        bool "y = RFM12 type B"
        default n

    choice FREQ_RFM12
        prompt "fréquence centrale RFM12"
        default F_RFM_868
        help
            Choix de la fréquence centrale du module RFM12.
        config F_RFM_433
            bool "RFM_433"
        config F_RFM_868
            bool "RFM_868"
        config F_RFM_915
            bool "RFM_915"
    endchoice

endmenu